@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">данный сайт разработан с использованием ASP.NET MVC 5.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Подробнее о технологии &raquo;</a></p>
</div>